{% extends 'base.html' %} {% block contents %}
<div class="my-3 p-3 bg-white rounded shadow-sm container">
  <h5 class="border-bottom border-gray pb-2 mb-0">Recent updates</h5>
  {% for post in posts %}
  <div class="media pt-3">
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <a href="{% url 'detail' post.id %}"><strong class="d-block" id="post_title">{{post.title}}</strong></a>
      <div id="post_content">{{post.summary}}</div>
    </div>
  </div>
  {% endfor %}
  <small class="d-block text-right mt-3">
    <a href="{% url 'post' %}">게시글 작성</a>
  </small>
</div>
{% endblock contents %}
